<tr>
  <td>
		<!-- <div class="span12 columns"> -->
			<div class="alert-message block-message info" id="hero-feed-alert-message-block-message-info">
				<%= @heros_feed_items.all %>
			</div>
		<!-- </div> -->
  </td>
</tr>