/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require bootstrap-1.0.0
*/

/*div.mini-layout div {
    border-radius: 3px 3px 3px 3px;
}*/

/*
div.mini-layout div.mini-layout-body {
    background-color: #DCEAF4;
    margin: 0 auto;
}*/

div#app-mini-layout{
/*		position:absolute;*/
    height: 600px;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    margin-bottom: 20px;
    padding: 9px;
}

div#footer-mini-layout{
/*		position:absolute;*/
    height: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    margin-bottom: 20px;
		border-radius: 6px 6px 6px 6px;
}