// Place all the styles related to the Heros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#hero-home-span12-columns {
	width: 876px;
}

//div#hero-home-mini-layout-fluid {
//	height: 470px;
//}

div#hero-home-main-layout-body {
//	position:absolute;
//	background-color: #BBD8E9;
	width: 878px;
	height: 470px;
	border-radius: 3px 3px 3px 3px;
	
	#hero-home-main-layout-body-tabs-ul {
		list-style-type:none;
		width: 176px;
		height: 200px;
		li a {
			width: 135px;
			margin: 4px 1px 1px -20px;		
		}
	}
}

div#hero-home-main-layout-body-tabs-div {
//	position:absolute;
	width: 669px;
	height: 470px;
	background-color: #DCEAF4;
	margin: -215px 0px 0px 200px;
	border-radius: 3px 3px 3px 3px;
}

// for easy tabs
//.hero-home-mini-layout-body-class {
//	position:absolute;
//	width: 669px;
//	height: 470px;
//	background-color: #DCEAF4;
//	margin: -215px 0px 0px 135px;
//	border-radius: 3px 3px 3px 3px;
//}

#hero-feed-alert-message-block-message-info {
	width: 600px;
}

//div.mini-layout div.mini-layout-body {
//    background-color: #DCEAF4;
//    height: 340px;
//    margin: 0 auto;
//    width: 450px;
//}

//div.mini-layout.fluid div.mini-layout-sidebar, 
//div.mini-layout.fluid div.mini-layout-header, 
//div.mini-layout.fluid div.mini-layout-body {
//    float: left;
//}

//div.mini-layout.fluid div.mini-layout-sidebar {
//    background-color: #BBD8E9;
//    height: 340px;
//    width: 90px;
//}

//div.mini-layout.fluid div.mini-layout-body {
//    margin-left: 10px;
//    width: 400px;
//}