<footer>

	<section id="grid-system">
		<div class="row show-grid" title="2 column layout">
		    <div class="span1 column"><%= link_to "News", 'http://news.railstutorial.org/' %></div>
		</div>
	</section>
</footer>