<footer>

	<div class="row">
    <div class="span2 columns">
			<br/><br/>
    </div>

		<div class="span16 columns">
      <div class="mini-layout" id="footer-mini-layout">

			</div>
		</div>
	</div>
	
</footer>